.container{
    width: 60%;
    margin-top: 10%;
}
.studentInformation{
    border: 7px solid #1b6d85;
    padding: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}